<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="xamarinmac20" />
  <package id="Rx-Core" version="2.2.5" targetFramework="xamarinmac20" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="xamarinmac20" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="xamarinmac20" />
  <package id="Rx-Main" version="2.2.5" targetFramework="Xamarin.Mac10" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="xamarinmac20" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.2" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.core" version="1.1.2" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.2" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.macos" version="1.1.2" targetFramework="xamarinmac20" />
</packages>